/**************************
* utApp style variables   *
***************************/
$app-font-family: sans-serif, Arial, Helvetica;	
$app-font-size: 1em;

/**************************
* reset style variables   *
***************************/
$ut-margin-all: 0px;

/******************************
* container style variables   *
*******************************/
$ut-container-width: 80%;
$ut-container-margin-top: 30px;
$ut-container-margin-left: auto;
$ut-container-margin-right: auto;
$ut-container-margin-bottom: 0px;

/*cursor style*/
$ut-cursor-pointer: pointer;

/**************************
* panel style variables   *
**************************/

/*ut panel header styles*/
$ut-panel-header-background-color: #9e9e9e;
$ut-panel-header-border-color: #ccc;
$ut-panel-header-border-width: 1px;
$ut-panel-header-border-style: solid;
$ut-panel-header-cursor: $ut-cursor-pointer;

/*ut panel body styles*/
$ut-panel-body-border-color: #ccc;
$ut-panel-body-border-width: 1px;
$ut-panel-body-border-style: solid;
$ut-panel-body-height: 200px;
$ut-panel-body-max-height: 200px;

/*ut panel cell styles*/




