@import "_variables";
@import "_mixins";
@import "_reset";

.container {
	width: $ut-container-width;	
	@include margin-all($ut-container-margin-top, $ut-container-margin-right, $ut-container-margin-bottom, $ut-container-margin-left);
}

.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
.left {
	float: left;
}
.center {
	text-align: center;
}

button {
	background: rgba(33, 150, 243, 0.39);
	padding: 5px 10px;
}

select {
	background: #fff;
	border: solid 1px rgba(33, 150, 243, 0.39);
}

/*text over image - <<should be a reusable component>>*/
.arrow {
   position: relative; 
   & img {
		width: 60px;
	  	height: 40px;
   }
   & div {
   		position: absolute; 
   		top: 20px; 
   		left: 0px; 
   		width: 100%; 
		& span {
			padding: 10px; 
   			color: #fff;
		}    
   } 
}

/*progress bar styles - start*/
.progress {
	height: 35px;
	background-color: pink;
}

.progress-bar {
	background-color: #abe0b0;
    line-height: 35px;
    height: 35px;
}

/*ut panel conatiner - start*/
.ut-panel-container {
	background-color: rgba(229, 249, 255, 0.21);
	@include padding-all(10px, 10px, 10px, 10px);
}
/*ut panel container - end*/

/*ut panel header styles - start*/
.ut-panel-header {
	> .ut-panel-row {
		> .ut-panel-cell {
			float: left;
			@include padding-all(12px, 12px, 12px, 12px);
			font-size: 0.9375em;
		}
	} 
}
/*ut panel header styles - end*/

/*ut panels body styles - start*/
.ut-panel-body {
	margin-bottom: 10px;
	> .ut-panel-row {
		> .ut-panel-cell {
			float: left;
			@include padding-all(10px, 10px, 10px, 10px);
			font-size: 0.875em;
			> div {
				a.collapse {
					color: inherit;
					text-decoration: none;
				}
				a.expand {
					color: blue;
					text-decoration: underline;
				}
				
			}
			&:first-child {
				cursor: pointer;
			}
		}
	} 
	&.complete {
		color: rgb(16, 146, 39);
		border: solid 2px rgba(16, 146, 39, 0.41);
		background-image: linear-gradient(to right, rgba(111, 175, 122, 0.18) 0%, #fff 60%);
	}
	&.accepted {
		color: rgb(16, 146, 39);
		border: solid 2px rgba(16, 146, 39, 0.41);
		background-image: linear-gradient(to right, rgba(111, 175, 122, 0.18) 0%, #fff 60%);
	}
	&.rejected {
		color: rgb(206, 32, 32);
		border: solid 2px rgba(206, 32, 32, 0.86);
		background-image: linear-gradient(to right, rgba(228, 43, 14, 0.18) 0%, #fff 60%);
	}
	&.running {
		color: rgb(141, 198, 232);
		border: solid 2px rgb(141, 198, 232);
		background-image: linear-gradient(to right, rgba(229, 249, 255, 0.21) 0%, #fff 60%);
	}
	&.pending {
		color: rgb(195, 192, 192);
		border: solid 2px rgb(195, 192, 192);
		background-image: linear-gradient(to right, rgba(175, 175, 175, 0.42) 0%, #fff 60%);
	}
}
.ut-panel-anchor{
	>div:first-child {
		> img {
			width: 30px;
			height: 30px;
		}
	}
	>div:last-child {
		margin-top: 8px;
		margin-left: 5px;
	}
}
.ut-panel-normal {
	margin-top: 8px;
	&.bar {
		border: solid 2px grey;
		margin-top: -1px;
		width: 60px;
	}
	> .progress {
		height: 25px;
		background-color: lightgrey;
		>.progress-bar {
			height: 25px;
			line-height: 25px;
			background-color: lightgrey;
			&.pass {
				background-color: green;
			}
			&.fail {
				background-color: #ce2020;
			}
			&.progress {
				width: 50%;
				background-color: blue;
			}
		}
	}
}
/*ut panels body styles -end*/

/*ut panels expand body styles - start*/
.ut-panel-expand-body {
	transition: .5s linear all;
    height: 200px;
    overflow: hidden;
    @include padding-all(10px, 10px, 10px, 10px);
    > div {
    	float: left;
    	width: 18%;
    	height: 150px;
    	margin-right: 2%;
    	box-shadow: 5px 8px 10px #ccc;
    	cursor: pointer;
    	> .ut-panel-expand-body-heading {
    		@include padding-all(3px, 3px, 3px, 3px);
    		font-size: 0.875em;
    		font-weight: bold;
    	}
    	> div:nth-child(2){
    		@include padding-all(5px, 5px, 5px, 5px);
    	}
    	> div:nth-child(3){
    		@include padding-all(5px, 5px, 5px, 5px);
    	}
    	> .ut-panel-expand-body-footer {
    		@include padding-all(3px, 3px, 3px, 3px);
    		font-size: 0.875em;
    		color: #000;
    		text-align: center;
    	}
    	&:last-child {
    		box-shadow: none;
    		cursor: default;
    	}
    }
    
    > .pass {
   		border: solid 2px rgba(16, 146, 39, 0.41);
   		background-image: radial-gradient(circle at top left, rgba(139, 175, 111, 0.12) 0%, #fff 60%);
   	}
   	> .fail {
   		border: solid 2px rgba(206, 32, 32, 0.86);
   		background-image: radial-gradient(circle at top left, rgba(228, 43, 14, 0.12) 0%, #fff 60%);
   	}
   	> .nodata {
   		border: solid 2px #c3c0c0;
   		background-image: radial-gradient(circle at top left, rgba(175, 175, 175, 0.12) 0%, #fff 60%);
   	}
   	> .result {
   		border: none;
   	}
   	> .results {
		margin-top: 20px;
		> .title {
			color: #000;
		}
		> .status {
			&.pass {
	   			color: green;
	   		}
	   		&.fail {
	   			color: #ce2020;
	   		}
	   		&.progress {
	   			color: #ffc000;
			    background-color: transparent;
			    height: auto;
	   		}
			font-size: 1.75em;
		}
		> .message {
			&.pass {
	   			color: green;
	   		}
	   		&.fail {
	   			color: #ce2020;
	   		}
	   		&.progress {
	   			color: #ffc000;
			    background-color: transparent;
			    height: auto;
	   		}
			font-size: 0.75em;
		}
		> div:last-child {
			color: #000;
			>div:first-child {
				margin-right: 8px;
			}
			>div:last-child {
				margin-left: 8px;
				margin-top: 5px;
			}
			>div:nth-child(2) {
				margin-top: 5px;
			}
		}
	}

}

.ut-panel-expand-body.ng-hide {
    height:0;
}

.ut-panel-expand-body-box {
	float: left;
	font-size: 0.75em;
	width: 50%;
	height: 50px;
	text-align: center;
	&.security,  &.workmainship {
		> .arrow img {
			width: 50px;
		}
		> .arrow div {
			top: 15px;
			> span {
				color: #000;
			}
		} 
	}
	&.debug, &.release {
		height: 90px;
		> div:last-child {
			color: #0000C2;
			margin-top: 5px;
		}
	}
	&.pie,&.testspassed {
		height: 70px;
	}
	&.testspassed {
		> div:first-child {
			margin-top: 15px;
			font-size: 2.25em;
		}
	}
	> div:last-child {
		color: #000;
	}
}

.codecovered {
	position: relative;
	> .progress {
		> .progress-bar {
			text-align: center;
			font-size: 0.75em;
		}
	}
	> div:last-child {
		position: absolute;
	    top: 15px;
	    left: 50px;
	    font-size: 0.6875em;
	    color: #000;
	    > div:first-child {
	    	text-align: center;
	    	> span.pass {
	    		color: green
	    	}
	    	> span.fail {
	    		color: #ce2020;
	    	}
	    }
	    > div:last-child {
	    	color: #000;
	    }
	}	
}

/*ut panels expand body styles - end*/

/*modal dialog styles - start*/
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    height: 100px;
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    background-color: lightblue;
    color: white;
}
/*modal dialog styles - end*/
